<div class="card">
  <div class="card-header bg-white border-bottom">
    <span class="font-weight-bolder pointer-cursor" (click)="showOptions=!showOptions">
      OPTIONS <i [ngClass]="showOptions?'fa fa-minus':'fa fa-plus'"></i>
    </span>
  </div>
  <div class="card-body " [ngClass]="showOptions?'show-fields':'hide-fields'" *ngIf="showOptions">
    <div class="row">
      <div class="form-group col-sm-12 col-md-8 col-lg-12 mb-2">
        <!-- <app-multiselected [dropdownPlaceholder]="'Select Columns'" [dropdownSettings]="dropdownSettings"
          [dropdownData]="pubConColList" [selectedData]="currSelectedColumns"
          (getSelectedItems)="onColumnSelect($event)">
        </app-multiselected> -->
        <!-- <ng-select [items]="pubConColList" bindLabel="field_name" placeholder="Select Columns"
          [(ngModel)]="currSelectedColumns" [multiple]="true" >
        </ng-select> -->
        <ng-select [items]="selectPubConColList" bindLabel="field_name" placeholder="Select Columns"
          [(ngModel)]="currSelectedColumns" [multiple]="true" [closeOnSelect]="false">
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div *ngIf="item.field_name === 'Select All'" (click)="$event.stopPropagation()"
              class="d-flex align-items-center">
              <input type="checkbox" [checked]="isAllSelected" (change)="toggleSelectAll($event)"
                class="form-check-input" style="width: 20px; height: 20px;">
              <label class="ms-2 fs-5 mb-0">Select All</label>
            </div>
            <div *ngIf="item.field_name !== 'Select All'">
              {{ item.field_name }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="form-group col-sm-12 col-md-4 col-lg-4 mb-2">
        <input type="text" class="form-control" placeholder="Offer Ids" [(ngModel)]="offerId">
      </div>
      <div class="form-group col-sm-12 col-md-4 col-lg-4 mb-2">
        <input type="text" class="form-control" placeholder="Offer Name" [(ngModel)]="offerName">
      </div>
      <!-- <div class="form-group col-sm-12 col-md-4 col-lg-4 mb-2">
        <input type="text" class="form-control" placeholder="Click Id" [(ngModel)]="clickId">
      </div> -->
      <!-- <div class="form-group col-md-4 mb-2">
        <select class="form-control text-capitalize" [(ngModel)]="selectedTimezone">
          <option value=''>Select TimeZone</option>
          <option *ngFor="let item of timezoneList" [value]="item">
            {{item}}
          </option>
        </select>
      </div> -->
      <!-- <div class="form-group col-md-4 mb-2">
        <ng-select [items]="timezoneList" [(ngModel)]="selectedTimezone" placeholder="Select TimeZone"
          [clearable]="true" class="text-capitalize">
        </ng-select>
      </div> -->
      <!-- </div>
    <div class="row"> -->

      <div class="form-group col-md-4 mb-2">
        <select class="form-control text-capitalize" [(ngModel)]="country">

          <option value="">Select Country</option>
          <option *ngFor="let item of countryList" [value]="item.key">
            {{ item.value }}
          </option>
        </select>
      </div>

      <div class="form-group col-md-4 mb-2">
        <select class="form-select" [(ngModel)]="selectedTimezone">
          <option value="">Select Timezone</option>
          <option *ngFor="let item of timezoneList" [value]="item.name">
            {{ item.name + " UTC " +item.dstOffsetStr }}
          </option>
        </select>
      </div>
      
      <div class="form-group col-sm-12 col-md-5 col-lg-3 mb-2">
        <select class="form-control" [(ngModel)]="limit">
          <option [value]="0" disabled>Select Limit</option>
          <option [value]="10">10</option>
          <option [value]="20">20</option>
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
          <option [value]="1000">1000</option>
        </select>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-5 mb-2">
        <app-datetime-range-picker [dateTimeRangeOption]="rangeOption" (dateTimeRangeData)="getDateTimeRange($event)">
        </app-datetime-range-picker>
      </div>
    </div>
    <div class="row">
      <div class="form-group text-sm-start text-md-center mb-2">
        <button type="submit" class="btn btn-outline-primary me-2" (click)="onFilter();">Filter</button>
        <button type="button" class="btn btn-outline-danger me-2">Reset</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="d-flex flex-row-reverse mb-1">
  <button class="btn btn-sm btn-outline-secondary">Apply</button>
</div> -->
<!-- Total Conversion count -->
<div class="d-flex justify-content-end w-100 gap-2 mb-2">
  <span class="bg-white border p-2 rounded-pill shadow-sm">
    Total: <strong>{{(totalConversion<=limit)?totalConversion:(limit*currentPage>
        totalConversion?totalConversion:limit*currentPage)}} / {{totalConversion}}</strong>
  </span>
  <span><a (click)="openExportModal(exportModal)" class="btn btn-primary rounded-pill"><i
        class="fa fa-download me-1"></i> Export</a></span>

</div>
<div class="row">
  <div class="col-12">
    <div class="card ">
      <div class="table-responsive table-bordered">
        <table class="table table-striped mb-0 no-wrap  text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Offer</th>
              <th *ngFor="let item of prevSelectedColumns | slice:0:2">
                <span>{{item.field_name}}</span>
              </th>
              <!-- <th>Source</th>
              <th>App Id</th>
              <th>Device</th> -->
              <ng-container *ngFor="let item of prevSelectedColumns | slice:2">
                <th>{{item.field_name}}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="allConversionList.length > 0 else elseBlock">
              <tr *ngFor="let item of allConversionList;let i=index;">
                <td>{{i+1}}</td>
                <td>
                  <a href="" [routerLink]="['/offers/detail/', item.offer_id]" target="_blank" class="text-primary"
                    ngbTooltip="{{item.offer_name}}" placement="top">
                    <span class="m-0">{{item.offer_name | shorten2}}</span>
                  </a>
                  <p class="m-0">({{item.offer_id}})</p>
                </td>
                <ng-container *ngFor="let obj of prevSelectedColumns | slice:0:2">
                  <!-- <td *ngIf="obj.db_name !='is_conversion'">
                    <div ngbTooltip="{{item[obj.db_name] }}" placement="top">{{item[obj.db_name] |shorten5}}</div>
                  </td> -->
                  <td *ngIf="obj.db_name == 'final_payout'">
                    {{ (+item[obj.db_name]).toFixed(3) }}
                  </td>

                  <td *ngIf="obj.db_name !='final_payout' && obj.db_name !='is_conversion'">
                    {{ item[obj.db_name] | shorten5 }}
                  </td>
                </ng-container>

                <ng-container *ngFor="let obj of prevSelectedColumns | slice:2">

                  <td *ngIf="obj.db_name !='is_conversion'">
                    <span class="m-0" ngbTooltip="{{item[obj.db_name] }}" placement="top">{{item[obj.db_name] |
                      shorten5}}</span>
                  </td>
                  <td *ngIf="obj.db_name =='is_conversion'">
                    <span class="m-0 text-white pe-2 ps-2 rounded-pill "
                      [ngClass]="item[obj.db_name]?'bg-success':'bg-danger'">{{item[obj.db_name]}}</span>
                  </td>
                </ng-container>
                <!-- <td>
                  <div ngbTooltip="{{item.aff_sub1 }}" placement="top">{{item.aff_sub1 | shorten2 }}</div>
                  <div ngbTooltip="{{item.aff_sub2 }}" placement="top">{{item.aff_sub2 | shorten2 }}</div>
                </td>
                <td>
                  <span>{{item.aff_source}}</span>
                </td>
                <td>
                  <span>{{item.app_id}}</span>
                </td>
                <td>{{item.device_type}}</td> -->
                <!-- <ng-container *ngFor="let obj of prevSelectedColumns">
               
                  <td *ngIf="obj.db_name !='is_conversion'">
                          <span class="m-0">{{item[obj.db_name]}}</span>
                      </td>
                </ng-container> -->
              </tr>
            </ng-container>
            <ng-template #elseBlock>
              <tr>
                <td [attr.colspan]="prevSelectedColumns.length + 2">
                  No Record Found
                </td>
              </tr>
            </ng-template>

          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end mt-5">
        <!-- <ngb-pagination [collectionSize]="pageSize" [maxSize]="5" [rotate]="true" [(page)]="page"
          (pageChange)="getPage($event)" aria-label="Default pagination">
        </ngb-pagination> -->
        <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [pageSize]="pageSize" [maxSize]="5"
          [rotate]="true" [boundaryLinks]="true" (pageChange)="getPage($event)">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>

<!-- export model -->

<ng-template #exportModal let-modal>

  <div class="modal-header">
    <h5 class="modal-title">Export Conversion Report</h5>
    <button type="button" class="btn-close" (click)="cancelExport(modal)"></button>
  </div>

  <div class="modal-body">

    <!-- Select Columns -->
    <div class="mb-3">
      <label class="form-label fw-semibold">Select Columns</label>

      <ng-select [items]="pubConColList" bindLabel="field_name" [(ngModel)]="exportSelectedColumns" [multiple]="true"
        placeholder="Select columns">
      </ng-select>
    </div>

    <!-- Start Date -->
    <div class="mb-3">
      <label class="form-label fw-semibold">Start Date</label>
      <input type="date" class="form-control" [(ngModel)]="exportStartDate">
    </div>



    <!-- End Date -->
    <div class="mb-3">
      <label class="form-label fw-semibold">End Date</label>
      <input type="date" class="form-control" [(ngModel)]="exportEndDate">
    </div>


  </div>

  <div class="modal-footer">

    <button class="btn btn-secondary" (click)="cancelExport(modal)">
      Cancel
    </button>

    <button class="btn btn-primary" (click)="confirmExport(modal)">
      Export CSV
    </button>

  </div>

</ng-template>