.card-img {
    padding: 1.25rem;
}
.card {
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}

.card small {
  font-size: 12px;
}

h5, h6 {
  font-weight: 600;
}

a {
  font-size: 13px;
}

.badge {
  font-size: 11px;
}

.card-title {
    color: darkslategray;
}