<!-- row -->
<div class="row">
    <div class="col-12 mb-2 mt-2 d-flex justify-content-end">
        <div class="mb-1">
            <select class="form-select" [(ngModel)]="progressCardsDateRange" (change)="onChange('progressCards')">
                <option value="7">Today/Yesterday</option>
                <option value="8">Last 7 Days/7 Days Before Last 7 Days</option>
                <option value="9">This Month/Last Month</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-6" *ngFor="let card of cards">
        <div class="card">
            <div class="card-body rounded" [ngStyle]="{'background': card.bg}">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h4 class="fw-bold fs-4" [ngStyle]="{'color':card.color}">{{ card.value }}</h4>
                        <h6 class="mb-0" [ngStyle]="{'color':card.color}">{{ card.title }}</h6>
                    </div>
                    <div class="col-6 text-end align-self-center">
                        <apx-chart [series]="card.chartOptions.series" [chart]="card.chartOptions.chart"
                            [plotOptions]="card.chartOptions.plotOptions" [labels]="card.chartOptions.labels"
                            [fill]="card.chartOptions.fill" [stroke]="card.chartOptions.stroke"
                            [dataLabels]="card.chartOptions.dataLabels" [colors]="card.chartOptions.colors"
                            [tooltip]="card.chartOptions.tooltip" [legend]="card.chartOptions.legend"
                            [grid]="card.chartOptions.grid">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- row -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <h4 class="card-title mb-0">Statistics</h4>
                    <div class="ms-auto">
                        <div class="">
                            <select class="form-select" [(ngModel)]="statChartDateRange"
                                (change)="onChange('statChart')">
                                <option selected value="1">Today</option>
                                <option value="2">Yesterday</option>
                                <option value="3">This Week</option>
                                <option value="4">Last Week</option>
                                <option value="5">This Month</option>
                                <option value="6">Last Month</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mx-n2">
                    <apx-chart [series]="statistics.series" [chart]="statistics.chart" [xaxis]="statistics.xaxis"
                        [yaxis]="statistics.yaxis" [grid]="statistics.grid" [stroke]="statistics.stroke"
                        [tooltip]="statistics.tooltip" [fill]="statistics.fill" [dataLabels]="statistics.dataLabels"
                        [legend]="statistics.legend" [colors]="statistics.colors" [markers]="statistics.markers"
                        [plotOptions]="statistics.plotOptions" [states]="statistics.states" [labels]="statistics.labels"
                        [responsive]="statistics.responsive">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="card-title mb-0">Top app ids</h4>

                    <div class="d-flex gap-3">
                        <select class="form-select" [(ngModel)]="topAppIdsLimit" (change)="onChange('topAppIds')">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>

                        <select class="form-select" [(ngModel)]="topAppIdsDateRange" (change)="onChange('topAppIds')">
                            <option value="1">Today</option>
                            <option value="2">Yesterday</option>
                            <option value="3">This Week</option>
                            <option value="4">Last Week</option>
                            <option value="5">This Month</option>
                            <option value="6">Last Month</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">App Id</th>
                            <th scope="col">Offer Name</th>
                            <th scope="col">Conversion</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="topAppIdsData.length">
                        <tr *ngFor="let item of topAppIdsData; let i = index">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ item["app_id"] ? item["app_id"] : "" }}</td>
                            <td>{{ item["offer_name"] ? item["offer_name"] : "" }}</td>
                            <td>{{ item["conversion"] ? item["conversion"] : "" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>