.multiselect-dropdown .dropdown-btn .selected-item {
    // max-width: 100% !important;
    margin: 0.1rem !important;
    border: none !important;
    background: #337ab7 !important;
    padding: 0px 4px;
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{
    max-width: 200px !important;
}