<div class="row justify-content-center">
    <div class="col-12 mb-2 mt-2 d-flex justify-content-end">
        <div class="mb-1">
            <select class="form-select " [(ngModel)]="progressCardsDateRange" (change)="onChange('progressCards')">
                <option value="7">Today/Yesterday</option>
                <option value="8">Last 7 Days/7 Days Before Last 7 Days</option>
                <option value="9">This Month/Last Month</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 col-lg-4" *ngFor="let item of progressCardsData | keyvalue">

        <div class="card bg-box position-relative" [ngStyle]="{'background-color': item['value']['bgcolor']}">
            <h6 class="text-white text-start p-2">
                <i [ngClass]="item['value']['icon'] + ' fs-5 fw-bold'"></i>
                {{ item['key'].toUpperCase() }}
            </h6>
            <div class="card-body d-flex justify-content-between text-center text-white p-3">

                <div class="flex-fill d-flex align-items-center ">
                    <i
                        [ngClass]="item['value']['previousValue'] <= item['value']['currentValue'] ? 'fas fs-5 fa-arrow-down text-danger' :  'fas fs-5 fa-arrow-up text-success' "></i>
                    <h4 class="fw-medium fs-8 text-white" [ngStyle]="{ 'color': item['value']['color'] }">
                        {{ item['value']['currentValue'] }}
                    </h4>
                    <!-- <small>current</small> -->
                </div>

                <div class="flex-fill d-flex align-items-center gap-2">
                    <i
                        [ngClass]="item['value']['previousValue'] <= item['value']['currentValue'] ?  'fas fs-5 fa-arrow-up text-success' : 'fas fs-5 fa-arrow-down text-danger'"></i>
                    <h4 class="fw-medium fs-8"
                        [ngClass]="item['value']['previousValue'] <= item['value']['currentValue'] ?  'text-success' : 'text-danger' ">
                        {{ item['value']['previousValue'] }}
                    </h4>
                    <!-- <small>previous</small> -->
                </div>

            </div>

        </div>
    </div>


</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <h4 class="card-title">Statistics</h4>
                    <div class="ms-auto">
                        <div class="">
                            <select class="form-select" [(ngModel)]="statChartDateRange"
                                (change)="onChange('statChart')">
                                <option selected value="1">Today</option>
                                <option value="2">Yesterday</option>
                                <option value="3">This Week</option>
                                <option value="4">Last Week</option>
                                <option value="5">This Month</option>
                                <option value="6">Last Month</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="mx-n2">
                    <apx-chart [series]="statChartData.series" [chart]="statChartData.chart"
                        [xaxis]="statChartData.xaxis" [yaxis]="statChartData.yaxis" [grid]="statChartData.grid"
                        [stroke]="statChartData.stroke" [tooltip]="statChartData.tooltip" [fill]="statChartData.fill"
                        [dataLabels]="statChartData.dataLabels" [legend]="statChartData.legend"
                        [colors]="statChartData.colors" [markers]="statChartData.markers"
                        [plotOptions]="statChartData.plotOptions" [states]="statChartData.states">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                 <div class="d-md-flex no-block align-items-center">
                    <h4 class="card-title mb-0 text-uppercase">Top app ids</h4>
                    <div class="ms-auto">
                        <select class="form-select" [(ngModel)]="topAppIdsLimit" (change)="onChange('topAppIds')">
                            <option selected value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">10</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="mx-4">
                        <select class="form-select" [(ngModel)]="topAppIdsDateRange" (change)="onChange('topAppIds')">
                            <option selected value="1">Today</option>
                            <option value="2">Yesterday</option>
                            <option value="3">This Week</option>
                            <option value="4">Last Week</option>
                            <option value="5">This Month</option>
                            <option value="6">Last Month</option>
                        </select>
                    </div>
                </div>
                <apx-chart [series]="topAppPieChart.series" [chart]="topAppPieChart.chart"
                    [labels]="topAppPieChart.labels" [responsive]="topAppPieChart.responsive"
                    [legend]="topAppPieChart.legend" [colors]="topAppPieChart.colors">
                </apx-chart>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-lg-12">
        <div class="card w-100 overflow-hidden">
            <div class="card-body pb-8">
                <div class="d-md-flex no-block align-items-center">
                    <h4 class="card-title mb-0 text-uppercase">Top app ids</h4>
                    <div class="ms-auto">
                        <select class="form-select" [(ngModel)]="topAppIdsLimit" (change)="onChange('topAppIds')">
                            <option selected value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">10</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="mx-4">
                        <select class="form-select" [(ngModel)]="topAppIdsDateRange" (change)="onChange('topAppIds')">
                            <option selected value="1">Today</option>
                            <option value="2">Yesterday</option>
                            <option value="3">This Week</option>
                            <option value="4">Last Week</option>
                            <option value="5">This Month</option>
                            <option value="6">Last Month</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table stylish-table align-middle">
                    <thead class="table-primary border">
                        <tr>
                            <th class="border-bottom fs- ps-4">
                                #
                            </th>
                            <th class="border-bottom fs-3">
                                App Id
                            </th>
                            <th class="border-bottom ">
                                Offer Name
                            </th>
                            <th class="border-bottom fs-3 ">
                                Conversion
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="topAppIdsData.length; else noTopAppIdsData">
                            <tr *ngFor="let item of topAppIdsData; let i = index">
                                <td>{{i+1}}</td>
                                <td>
                                    <span style="color: #2962ff; cursor: pointer;">
                                        {{ item['app_id'] ? item['app_id'] : '' }}
                                    </span>
                                </td>
                                <td>{{ item['offer_name'] ? (item['offer_name']) : '' }}</td>
                                 <td>{{ item['conversion'] ? item['conversion'] : '' }}</td>
                            </tr>
                        </ng-container>
                        <ng-template #noTopAppIdsData>
                            <tr>
                                <td colspan="4">No record Found!</td>
                            </tr>
                        </ng-template>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>