.popover {
    // width: 300px !important;
    max-width: none !important;
}
// .popover .popover-body {
//     width: 100px;
// }
.card-body{
    width: 700px;
    padding: 0px !important;
    margin: 0px !important;
}
.card{
    margin-bottom:0px;
}
.popover-body{
    padding: 0px !important;
}